extends ../layouts/main
block active-item
  if user.role !== 'user'
    - nav['Клиенты']['active'] = 1
block content
  h3 #{client.lastname} #{client.firstname} #{client.middlename}

  .row
    .col-md-12
      form.form-horizontal(role='form', method='post', action='/user/edit', enctype='multipart/form-data')
        .panel.panel-default
          .panel-heading Основная информация
          .panel-body
            fieldset
              .form-group
                label.col-sm-2.control-label Фамилия
                .col-sm-6
                  input.form-control(type='text', name='lastname', required='required', value='#{client.lastname ? client.lastname : ""}')
            fieldset
              .form-group
                label.col-sm-2.control-label Имя
                .col-sm-6
                  input.form-control(type='text', name='firstname', required='required', value='#{client.firstname ? client.firstname : ""}')
            fieldset
              .form-group
                label.col-sm-2.control-label Отчество
                .col-sm-6
                  input.form-control(type='text', name='middlename', value='#{client.middlename ? client.middlename : ""}')
            fieldset
              .form-group
                label.col-sm-2.control-label Телефон
                .col-sm-6
                  input.form-control(type='text', name='phone', value='#{client.phone ? client.phone : ""}')
            fieldset
              .form-group
                label.col-sm-2.control-label Email
                .col-sm-6
                  if user.role === 'user'
                    input.form-control(type='text', name='email', required='required', value='#{client.email}', readonly='')
                  else
                    input.form-control(type='text', name='email', required='required', value='#{client.email}')
            if user.role === 'admin' || client.owner == user._id+''
              fieldset
                .form-group
                  label.col-sm-2.control-label Изменить пароль
                  .col-sm-6
                    input.form-control(type='text', name='password')
            if user.role === 'admin'
              fieldset
                .form-group
                  label.col-sm-2.control-label Тип клиента
                  .col-sm-6
                    select.form-control(name='role')
                      each role in [{name: 'user', title: 'Клиент'}, {name: 'corp', title: 'Организация'}, {name: 'admin', title: 'Админ'}]
                        if (client.role === role.name)
                          option(value='#{role.name}', selected='') #{role.title}
                        else
                          option(value='#{role.name}') #{role.title}
            fieldset
              .form-group.has-feedback
                label.col-sm-2.control-label Фото
                .col-sm-6
                  input.form-control#clientPhoto(type="file", name="photo")
                if (client.photo)
                  .col-sm-2
                    .thumbnail: img.img-responsive(src="#{client.photo}")
          .panel-footer
            button.btn.btn-lg.btn-info(type='submit') Сохранить
            if user.role !== 'user'
              | &nbsp;
              a.btn.btn-lg.btn-default(href="/user") Отменить
            if profile
              input(type="hidden", name="profile", value="true")
            input(type="hidden", name="id", value="#{client._id}")
            input(type="hidden", name="_csrf", value="#{_csrf}")
  if user.role === 'admin'
    pre= client
