extends ../layouts/main
block active-item
  - nav.menu['Клиенты']['active'] = 1
block content
  - function addZ(n){return n<10? '0'+n:''+n;}
  - function showTime(date){return addZ(date.getDate())+'.'+addZ(date.getMonth()+1)+'.'+date.getFullYear()+' '+date.getHours()+':'+date.getMinutes()}
  a(href='/user/create').btn.btn-labeled.btn-primary.pull-right
    span.btn-label
      i.fa.fa-plus-circle
    | Добавить клиента
  h3 Клиенты
    br
    small Список всех клиентов

  .row
    .col-lg-12
      .panel.panel-default
        .panel-body
          table#datatable2.table.table-striped.table-hover
            thead
              tr
                th ФИО
                th Телефон
                th Email
                th Зарегистрирован
                if user.role === 'admin'
                  th Тип клиента
                  th Принадлежность
                th.action
            tbody
              each client in users
                tr(id='#{client._id}')
                  td: a(href='/user/view/#{client._id}') #{client.lastname} #{client.firstname} #{client.middlename}
                  td #{client.phone}
                  td #{client.email}
                  td #{showTime(client.created)}
                  if user.role === 'admin'
                    td
                      if client.role === 'admin'
                        span.label.label-success Админ
                      if client.role === 'corp'
                        span.label.label-warning Организация
                      if client.role === 'user'
                        span.label.label-info Клиент
                    td
                      if client.owner
                        a(href='/user/view/#{client.owner._id}') #{client.owner.lastname} #{client.owner.firstname} #{client.owner.middlename}
                  td
                    a.btn.btn-warning.btn-xs(href='/user/edit/#{client._id}')
                      i.fa.fa-wrench
                    | &nbsp;
                    button.btn.btn-remove.btn-danger.btn-xs(data-toggle='modal', data-target='#modalRemove', data-id='#{client._id}', data-title='#{client.title}', data-type='user')
                      i.fa.fa-times
              tfoot
                tr
                  th: input.form-control.input-sm.datatable_input_col_search(type='text', name='fio', placeholder='ФИО')
                  th: input.form-control.input-sm.datatable_input_col_search(type='text', name='phone', placeholder='Телефон')
                  th: input.form-control.input-sm.datatable_input_col_search(type='text', name='email', placeholder='Email')
                  th: input.form-control.input-sm.datatable_input_col_search(type='text', name='created', placeholder='Регистрация')
                  if user.role === 'admin'
                    th: input.form-control.input-sm.datatable_input_col_search(type='text', name='role', placeholder='Тип клиента')
                    th: input.form-control.input-sm.datatable_input_col_search(type='text', name='role', placeholder='Принадлежность')
                  th

block body_child
  #modalRemove.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#modalRemoveLabel.modal-title Удалить
        .modal-body#modalRemoveTitle
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Отменить удаление
          button.btn.btn-danger#modalRemoveBtn(type='submit', data-csrf='#{_csrf}') Удалить
