extends ../layouts/main
block active-item
  - nav['Карты']['active'] = 1
block content
  if user.role !== 'user'
    a(href='/card/create').btn.btn-labeled.btn-primary.pull-right
      span.btn-label
        i.fa.fa-plus-circle
      | Новая карта
  h3 Карты
    br
    small Список всех карт
  // START DATATABLE 2
  .row
    .col-lg-12
      .panel.panel-default
        .panel-body#cards
          table#datatable-cards.table.table-striped.table-hover
            thead
              tr
                th.check-all(style="width: 5%")
                  .checkbox.c-checkbox
                    label
                      input(type='checkbox')
                      span.fa.fa-check
                th Номер карты
                if user.role !== 'user'
                  th Владелец
                  th Телефон
                  th E-mail
                th Магазин
                th Покупки
                th Бонусы
                if user.role !== 'user'
                  th.action
            tbody
              each card in cards
                tr(id='#{card._id}')
                  td
                    .checkbox.c-checkbox: label
                      input.print-card(type='checkbox', value='#{card._id}')
                      span.fa.fa-check
                  td(data-order="#{card.created.getTime()}")
                    a(href='/card/view/#{card._id}') #{card.cc}
                  if user.role !== 'user'
                    td
                      if (card.user)
                          a(href='/user/view/#{card.user._id}') #{card.user.lastname} #{card.user.firstname} #{card.user.middlename}
                    td
                      if (card.user)
                          | #{card.user.phone}
                    td
                      if (card.user)
                          | #{card.user.email}
                  td: a(href='/store/view/#{card.store._id}') #{card.store.title}
                  td #{card.purchases}
                  td #{card.bonus?card.bonus:0}
                  if user.role !== 'user'
                    td
                      if (!card.user)
                        a.btn.btn-warning.btn-xs(href='/card/edit/#{card._id}')
                          i.fa.fa-wrench
                        | &nbsp;
                      button.btn.btn-remove.btn-danger.btn-xs(data-toggle='modal', data-target='#modalRemove', data-id='#{card._id}', data-title='#{card.cc}', data-type='card')
                        i.fa.fa-times
              tfoot
                tr
                  th: a#printCards.btn.btn-info.btn-sm(href='#', data-csrf='#{_csrf}'): i.fa.fa-print
                  th: input.form-control.input-sm.datatable-cards-search(type='text', name='filter_rendering_engine', placeholder='Номер карты')
                  if user.role !== 'user'
                    th: input.form-control.input-sm.datatable-cards-search(type='text', name='filter_rendering_engine', placeholder='Владелец')
                    th: input.form-control.input-sm.datatable-cards-search(type='text', name='filter_rendering_engine', placeholder='Телефон')
                    th: input.form-control.input-sm.datatable-cards-search(type='text', name='filter_rendering_engine', placeholder='E-mail')
                  th: input.form-control.input-sm.datatable-cards-search(type='text', name='filter_rendering_engine', placeholder='Магазин')
                  th: input.form-control.input-sm.datatable-cards-search(type='text', name='filter_rendering_engine', placeholder='Покупки')
                  th: input.form-control.input-sm.datatable-cards-search(type='text', name='filter_rendering_engine', placeholder='Бонусы')
                  if user.role !== 'user'
                    th

block body_child
  #modalRemove.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#modalRemoveLabel.modal-title Удалить
        .modal-body#modalRemoveTitle
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Отменить удаление
          button.btn.btn-danger#modalRemoveBtn(type='submit', data-csrf='#{_csrf}') Удалить

  #printLoading.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-body
          h3
            i.fa.fa-spin.fa-circle-o-notch
            | &nbsp;Подождите пока создадутся карты...
          p Пожалуйста, не создавайте больше 10 штук за один раз
