extends ../layouts/main
block active-item
    - nav.menu['Магазины']['active'] = 1
block content
    h3= store.title
    .row
        .col-md-12
            form.form-horizontal#storeForm(role='form', method='post', action='/store/edit', data-parsley-validate='', novalidate='')
                // START panel
                .panel.panel-default
                    .panel-heading Основная информация
                    .panel-body
                        fieldset
                            .form-group
                                label.col-sm-2.control-label Название
                                .col-sm-6
                                    input.form-control#storeTitle(type='text', name='title', required='required', value='#{store.title}')
                        fieldset
                            .form-group
                                label.col-sm-2.control-label Информация о магазине
                                .col-sm-6
                                    textarea.form-control#storeDescription(name='description', rows='2') #{store.description}
                        fieldset
                            .form-group.has-feedback
                                label.col-sm-2.control-label Фото
                                .col-sm-6
                                    input.form-control#clientPhoto(type="file", name="image")
                    .panel-footer
                        button.btn.btn-lg.btn-info(type='submit') Сохранить
                        | &nbsp;
                        a.btn.btn-lg.btn-default(href="/store") Отменить
                        input(type="hidden", name="id", value="#{store.id}")
                        input(type="hidden", name="_csrf", value="#{_csrf}")
                // END panel
    // END row