extends ../layouts/main
block active-item
  - nav.menu['Прайслисты']['active'] = 1
block content
  h3 Товар/услуга
  .row
    .col-md-12
      form.form-horizontal#priceForm(role='form', method='post', action='/price/edit')
        .panel.panel-default
          .panel-heading Основная информация
          .panel-body
            fieldset
              .form-group
                label.col-sm-2.control-label Магазин
                .col-sm-6
                  select.form-control(name='store')
                    each store in stores
                      if (price.store.toString() == store._id.toString())
                        option(value='#{store._id}', selected='') #{store.title}
                      else
                        option(value='#{store._id}') #{store.title}
            fieldset
              .form-group
                label.col-sm-2.control-label Название
                .col-sm-6
                  input.form-control(type='text', name='title', required='required', value='#{price.title}')
            fieldset
              .form-group
                label.col-sm-2.control-label Цена
                .col-sm-6
                  input.form-control(type='number', name='price', required='required', value='#{price.price}')
            fieldset
              .form-group
                label.col-sm-2.control-label Описание
                .col-sm-6
                  textarea.form-control(name='description') #{price.description}
          .panel-footer
            button.btn.btn-lg.btn-info(type='submit') Сохранить
            | &nbsp;
            a.btn.btn-lg.btn-default(href="/price") Отменить
            input(type="hidden", name="id", value="#{price._id}")
            input(type="hidden", name="_csrf", value="#{_csrf}")
