extends ../layouts/print
block active-item
    - nav.menu['Магазины']['active'] = 1
block content
    - function addZ(n){return n<10? '0'+n:''+n;}
    - function showTime(date){return addZ(date.getDate())+'.'+addZ(date.getMonth()+1)+'.'+date.getFullYear()+' '+date.getHours()+':'+date.getMinutes()}

    h1 #{card.store.title}
    h2 #{card.cc}

    if qr
        img.pull-right(src='#{qr}', title='#{card.cc}', style='width:100px')
        dl.dl-horizontal
    if card.cc
        dt Номер карты
        dd #{card.cc}
    if card.user
        dt ФИО клиента
        dd #{card.user.lastname} #{card.user.firstname} #{card.user.middlename}
        dt Телефон
        dd #{card.user.phone}
        dt Email
        dd #{card.user.email}