extends ../layouts/main
block active-item
  - nav.menu['Покупки']['active'] = 1
block content
  h3 Новая покупка
  .row
    .col-md-12
      form.form-horizontal#purchaseForm(role='form', method='post', action='/purchase/create')
        .panel.panel-default
          .panel-heading Основная информация
          .panel-body
            fieldset
              .form-group
                label.col-sm-2.control-label(for="card") Номер карты
                .col-sm-10
                  p.form-control-static [#{card.cc}]
                    if card.user
                      | &nbsp;#{card.user.lastname} #{card.user.firstname} #{card.user.middlename} (#{card.user.phone}) #{card.store.title}
            fieldset
              .form-group
                label.col-sm-2.control-label(for="purchase") Название покупки
                .col-sm-8
                  input.form-control#autocomplete-purchases(type="text", name="purchase")
            fieldset
              .form-group
                label.col-sm-2.control-label Цена
                .col-sm-2
                  input#selction-prices.form-control(type='number', name='price', required='required')
            fieldset
              .form-group
                label.col-sm-2.control-label Количество
                .col-sm-2
                  input.form-control(type='number', name='quantity', required='required', value='1')
          .panel-footer
            input(type="hidden", name="card_id", value="#{card._id}")
            button.btn.btn-lg.btn-info(type='submit') Сохранить
            | &nbsp;
            a.btn.btn-lg.btn-default(href="/card/view/#{card._id}") Отменить
            input(type="hidden", name="back", value="/card/view/#{card._id}")
            input(type="hidden", name="_csrf", value="#{_csrf}")
