extends ../layouts/main
block active-item
  - nav['Сообщения']['active'] = 1
block content
  - function addZ(n){return n<10? '0'+n:''+n;}
  - function showTime(date){return addZ(date.getDate())+'.'+addZ(date.getMonth()+1)+'.'+date.getFullYear()+' '+addZ(date.getHours())+':'+addZ(date.getMinutes())}
  - function showTimeYear(date){return addZ(date.getDate())+'.'+addZ(date.getMonth()+1)+'.'+date.getFullYear()}
  if user.role !== 'user'
    a(href='/message/create').btn.btn-labeled.btn-primary.pull-right
      span.btn-label
        i.fa.fa-plus-circle
      | Написать сообщение
  h3 Сообщения

  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading Все сообщения
        .list-group
          each message in messages
            .list-group-item
              .media
                .pull-left
                  if message.store.image && message.store.image !== ''
                    img.img-responsive.img-circle(src='#{message.store.image}', alt='#{message.store.title}', style='width: 48px; height: 48px;')
                  if user.role !== 'user'
                    a.btn.btn-warning.btn-xs(href='/message/edit/#{message._id}')
                      i.fa.fa-wrench
                    | &nbsp;
                    button.btn.btn-remove.btn-danger.btn-xs(data-toggle='modal', data-target='#modalRemove', data-id='#{message._id}', data-title='#{message.title}', data-type='message')
                      i.fa.fa-times
                .media-body.clearfix
                  .media-heading.text-green: a(href='/user/view/#{message.recipient._id}') #{message.recipient.lastname} #{message.recipient.firstname} #{message.recipient.middlename}
                  p #{message.message}
                  small #{showTime(message.date)}

block body_child
  #modalRemove.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#modalRemoveLabel.modal-title Удалить
        .modal-body#modalRemoveTitle
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Отменить удаление
          button.btn.btn-danger#modalRemoveBtn(type='submit', data-csrf='#{_csrf}') Удалить
