extends ../layouts/main
block active-item
  - nav['Клиенты']['active'] = 1
block content
  h3 #{client.lastname} #{client.firstname} #{client.middlename}
  .row
    .col-lg-8
      .panel.panel-default
        .panel-heading Клиент
        .panel-body#users
          if client.user.photo
            img.pull-right(src='#{client.user.photo}', style='width:100px')
          dl.dl-horizontal
            dt ФИО
            dd #{client.lastname} #{client.firstname} #{client.middlename}
            if client.user.phone
              dt Телефон
              dd #{client.user.phone}
            if client.user.email
              dt Email
              dd #{client.user.email}
            if client.gender || client.user.gender
              - var gender = client.gender?client.gender:client.user.gender
              dt Пол
              dd #{(gender === 'male')?'Мужской':'Женский'}
            if client.birth || client.user.birth
              dt Дата рождения
              dd #{showDate(client.birth?client.birth:client.user.birth)}
            if client.city || client.user.city
              dt Город
              dd #{client.city?client.city:client.user.city}
            if client.user.created
              dt Дата регистрации
              dd #{showTime(client.user.created)}
        .panel-footer
          a.btn.btn-link(href='/user/edit/#{client._id}'): i.fa.fa-wrench
            | &nbsp;Изменить
          | &nbsp;
          button.btn.btn-link.btn-remove(data-toggle='modal', data-target='#modalRemove', data-id='#{client._id}', data-title='#{client.lastname} #{client.firstname} #{client.middlename}', data-type='user'): i.fa.fa-times
            | &nbsp;Удалить

  if stores > 0
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            | Список карт
            a.btn.btn-success.pull-right.btn-xs.btn-labeled(href='/card/create/#{client._id}')
              .btn-label: i.fa.fa-plus-circle
              | Добавить карту
          .panel-body#cards
            table#datatable-cards.table.table-striped.table-hover
              thead
                tr
                  th.check-all(style="width: 5%")
                    .checkbox.c-checkbox
                      label
                        input(type='checkbox')
                        span.fa.fa-check
                  th Номер карты
                  th Магазин
                  th.action
              tbody
                each card in cards
                  tr(id='#{card._id}')
                    td
                      .checkbox.c-checkbox: label
                        input.print-card(type='checkbox', value='#{card._id}')
                        span.fa.fa-check
                    td: a(href='/card/view/#{card._id}') #{card.cc}
                    td: a(href='/store/view/#{card.store._id}') #{card.store.title}
                    td: button.btn.btn-remove.btn-danger.btn-xs(data-toggle='modal', data-target='#modalRemove', data-id='#{card._id}', data-title='#{card.cc}', data-type='card', data-back='/user/view/#{client._id}'): i.fa.fa-times
                tfoot
                  tr
                    th
                      a#printCards.btn.btn-warning.btn-sm(href='#', data-csrf='#{_csrf}')
                        i.fa.fa-print
                    th: input.form-control.input-sm.datatable-cards-search(type='text', name='filter_rendering_engine', placeholder='Номер карты')
                    th: input.form-control.input-sm.datatable-cards-search(type='text', name='filter_rendering_engine', placeholder='Магазин')
                    th

    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            | Список покупок
            a.btn.btn-success.pull-right.btn-xs.btn-labeled(href='/purchase/create/user/#{client._id}')
              .btn-label: i.fa.fa-plus-circle
              | Добавить покупку
          .panel-body#purchases
            table#datatable2.table.table-striped.table-hover
              thead
                tr
                  th Описание покупки
                  th Магазин
                  th Дата
                  th Цена
                  th Оплачено бонусами
                  th Кол-во
                  th Сумма
                  th.action
              tbody
                each purchase in purchases
                  tr(id='#{purchase._id}')
                    td: a(href='/purchase/view/#{purchase._id}') #{purchase.title}
                    td: a(href='/store/view/#{purchase.card.store._id}') #{purchase.card.store.title}
                    td(data-order="#{purchase.date}") #{showTime(purchase.date)}
                    td #{purchase.price}
                    td #{purchase.bonus?purchase.bonus:0}
                    td #{purchase.quantity}
                    td #{purchase.total}
                    td
                      a.btn.btn-warning.btn-xs(href='/purchase/edit/#{purchase._id}'): i.fa.fa-wrench
                      | &nbsp;
                      button.btn.btn-remove.btn-danger.btn-xs(data-toggle='modal', data-target='#modalRemove', data-id='#{purchase._id}', data-title='#{purchase.title}', data-type='purchase', data-back='/user/view/#{client._id}'): i.fa.fa-times
                tfoot
                  tr
                    th: input.form-control.input-sm.datatable_input_col_search(type='text', name='filter_rendering_engine', placeholder='Описание покупки')
                    th: input.form-control.input-sm.datatable_input_col_search(type='text', name='filter_rendering_engine', placeholder='Магазин')
                    th: input.form-control.input-sm.datatable_input_col_search(type='text', name='filter_rendering_engine', placeholder='Дата')
                    th: input.form-control.input-sm.datatable_input_col_search(type='text', name='filter_rendering_engine', placeholder='Цена')
                    th: input.form-control.input-sm.datatable_input_col_search(type='text', name='filter_rendering_engine', placeholder='Бонусы')
                    th: input.form-control.input-sm.datatable_input_col_search(type='text', name='filter_rendering_engine', placeholder='Кол-во')
                    th: input.form-control.input-sm.datatable_input_col_search(type='text', name='filter_rendering_engine', placeholder='Сумма')
                    th

block body_child
  #modalRemove.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#modalRemoveLabel.modal-title Удалить
        .modal-body#modalRemoveTitle
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Отменить удаление
          button.btn.btn-danger#modalRemoveBtn(type='submit', data-csrf='#{_csrf}') Удалить
